In [1]:
from __future__ import print_function

# Import the Time Series library
import statsmodels.tsa.stattools as ts

# Import Datetime and the Pandas DataReader
from datetime import datetime
import pandas as pd
import FinanceDataReader as fdr

In [13]:
from pandas_datareader import data as pdr
import pandas as pd
import yfinance as yf
yf.pdr_override() # <== that's all it takes :-)

# download dataframe
data = pdr.get_data_yahoo("005935.KS", start="2017-01-01", end="2017-04-30")

[*********************100%***********************]  1 of 1 completed

In [1]:
import FinanceDataReader as fdr
from datetime import datetime

amzn = fdr.DataReader("005935", datetime(2000,1,1), datetime(2015,1,1))

In [2]:
df = fdr.DataReader("SPY", datetime(2006,1,1), datetime(2015,1,1))

In [3]:
df["returns"] = df["Adj Close"].pct_change()*100.0

for i,x in enumerate(df["returns"]):
    if (abs(x) < 0.0001):
        df["returns"][i] = 0.0001

C:\Users\hong9\AppData\Local\Temp\ipykernel_23840\4073656756.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["returns"][i] = 0.0001

In [4]:
df.tail(3)

,Open,High,Low,Close,Adj Close,Volume,returns
Date,,,,,,,
2014-12-29,208.220001,208.970001,208.139999,208.720001,180.305710,79643900,0.134331
2014-12-30,208.210007,208.369995,207.509995,207.600006,179.338196,73540800,-0.536596
2014-12-31,207.990005,208.190002,205.389999,205.539993,177.558624,130333800,-0.992299

In [5]:
df.to_csv('./SPY.csv')

In [6]:
import pandas as pd

In [15]:
a = pd.Series(
        {
            'Lag1': 123*100.0,
            'Lag2': 456*100.0
        })

In [12]:
a.values.reshape(1,-1)

array([[12300., 45600.]])

In [13]:
a.values

array([12300., 45600.])

In [8]:
a = pd.read_csv('./AAPL.csv')

In [21]:
import os
s = os.path.join('../Trading/data', 'AAPL.csv')

In [22]:
a = pd.read_csv(s)

In [15]:
a.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  1990-01-02  0.314732  0.334821  0.312500  0.332589   0.264482  183198400
1  1990-01-03  0.339286  0.339286  0.334821  0.334821   0.266257  207995200
2  1990-01-04  0.341518  0.345982  0.332589  0.335938   0.267145  221513600
3  1990-01-05  0.337054  0.341518  0.330357  0.337054   0.268033  123312000
4  1990-01-08  0.334821  0.339286  0.330357  0.339286   0.269808  101572800

In [5]:
import pandas as pd

In [7]:
a = [92.23719,  92.474182, 92.567543]

In [13]:
a

[92.23719, 92.474182, 92.567543]

In [12]:
pd.DataFrame(a, columns=['returns']).pct_change()*100.0

    returns
0       NaN
1  0.256938
2  0.100959

In [31]:
import datetime
start = datetime.datetime(2012, 1, 1)
end = datetime.datetime(2013, 1, 1)

# sam1 = pdr.get_data_yahoo("005930.KS", start="2012-01-01", end="2013-01-01")
# sam2 = pdr.get_data_yahoo("005935.KS", start="2012-01-01", end="2013-01-01")
sam1 = fdr.DataReader("005930", start, end)
sam2 = fdr.DataReader("005935", start, end)

In [33]:
df = pd.DataFrame(index=sam1.index)
df["sam1"] = sam1["Close"]
df["sam2"] = sam2["Close"]

In [37]:
import statsmodels.api as sm

# seq = (y, x)
lm = sm.OLS(df["sam2"], df["sam1"]).fit()
param = lm.params

In [45]:
param.values[0]

0.5949013230506544